@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css">
</head>


<style>
    
  video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 150%; 
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
   background-color: black;
    background-size: cover;
  }  


</style>

<video id="bgvid" playsinline autoplay muted loop>
    
    <source src="/vid/bgvid.webm" type="video/webm">
    <source src="/vid/bgvid.webm" type="video/mp4">

</video>

<div class="container">
    <div class="row">
        <div class="col-md-5 p-5 mt-5">
            <div class="title">
                <h1>Liryka<br />Skladu<br />Ostródzkiego</h1>
            </div>
            <div class="random-quote">
                <p>Cytat dla Ciebie:</p>
                <p class="quote">"@Model.Quote[0]</p>
                <p class="quote">@Model.Quote[1]"</p>
                <p>~@Model.Title</p>
            </div>            
        </div>
        @* <div class="col-md-3 photos">
            <div class="flex-container">
                <div id="item-1" class="grid-item pb-1">
                </div>
                <div id="item-2" class="grid-item pe-2">
                </div>
            </div>
        </div>
        <div class="col-md-3 photos">
            <div class="flex-container">
                <div id="item-3" class="grid-item ps-1">
                </div>
                <div id="item-4" class="grid-item pt-1">
                </div>
            </div>
        </div> *@
    </div>
</div>

  <script>
    var vid = document.getElementById("bgvid");
    var pauseButton = document.querySelector("#polina button");

    if (window.matchMedia('(prefers-reduced-motion)').matches) {
        vid.removeAttribute("autoplay");
        vid.pause();
        pauseButton.innerHTML = "Paused";
    }

    function vidFade() {
    vid.classList.add("stopfade");
    }

    pauseButton.addEventListener("click", function() {
    vid.classList.toggle("stopfade");
    if (vid.paused) {
        vid.play();
        pauseButton.innerHTML = "Pause";
    } else {
        vid.pause();
        pauseButton.innerHTML = "Paused";
    }
    })
  </script>