@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach(var song in Model.SongModels)
    {
        <div class="m-3">
        <h3 style="text-decoration:underline">@song.title</h3>
        @foreach(string line in song.lines)
        {
            <p>@line</p>        
        }
        </div>
    }
</div>
